#tvHeader {
    color: #333;
    font-family: Arial;
    background: #DDE5FF;
    padding: 6px 7px 5px 9px;
    border-bottom: 1px solid #C9D7F1;
    margin-bottom: 1px;
    position: relative;
}

#tvComposeButton {
	background-color: #F08A01;
	background-image: none;
	color: #333;
}

#tvComposeButton:hover {
	color: #000;
	cursor: pointer;
}

#tvReplyButton {
	background-color: #F08A01;
	background-image: none;
	color: #333;
}
#tvReplyButton:hover {
	color: #000;
	cursor: pointer;
}

#tvTopButton {
	background-color: #F08A01;
	background-image: none;
	color: #333;
}
#tvTopButton:hover {
	color: #000;
	cursor: pointer;
}

#tvConversationButton {
	background-color: #F08A01;
	background-image: none;
	color: #333;
}
#tvConversationButton:hover {
	color: #000;
	cursor: pointer;
}
